@media screen and (max-width:576px) {
  .nav-container{
   padding: 3rem 1.25rem;
  }
  .links-container{
    display: none;
  }
  .hambur-menu{
    display: block;
  }
  .banner-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0rem 1.25rem;
  }
  .banner-content {
    width: 100%;
  }
  .banner-title {
    font-size: 2.25rem;
    margin-bottom: 1.75rem;
  }
  
  .banner-description{
    width: 60%;
  }
  .banner-img {
    width: 100%;
  }
  .tutorial-section {
    left: 0.8rem;
    bottom: 15.5rem;
  }
  .workout-section {
    right: 6rem;
    top: 3rem;
  }
  .banner-join-btn {
    padding: 1rem;
  }
  
  .banner-download-btn {
    padding: 1rem;
  }

  /* habit section */
  .habit-image-container {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .habit-image {
    margin-bottom: 1rem;
  }
  /* extra run mile */
.extra-mile-run{
  flex-direction: column;
  align-items: center;
  margin: 4rem 1.25rem ;
 
}
.extra-mile-text-content{
  max-width: 100%;
}
.extra-mile-img-container{
  max-width: 100%;
}
  
}