@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  /* border: 2px solid white; */
}

/* nav section */


header {

  background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}

.header-section,
.main-section {
  max-width: 1060px;
  margin: 0 auto;
  border-radius: 16px;
}

.nav-container {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 3rem;
  list-style: none;
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;

}

.nav-link a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 8px 20px;

}

.home-btn {
  border-radius: 16px;
  background-color: orangered;
}

.nav-title {
  font-size: 2.25rem;
  font-weight: 800;
  color: rgb(230, 83, 60);
}

.hambur-menu {
  display: none;
  /* border: 1px solid red; */
}

/* nav section end */


/* banner container */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content {
  width: 55%;
}
.shape-style{
  font-family: "Grey Qo", cursive; 
  display: inline-block;
  font-size: 7rem;
  padding-right: 5px;
}
.banner-img {
  width: 34%;
  height: 100%;
  position: relative;
}


.banner-title {
  font-size: 4.9rem;
  font-weight: 900;
  margin-top: 1.7rem;
}

.banner-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.3rem;
  margin-bottom: 1.8rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.banner-join-btn {
  padding: 1rem 2.5rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  margin-right: 0.8rem;
  border-radius: 42px;
  background: rgb(230, 83, 60);
}

.banner-download-btn {
  padding: 1rem 2.5rem;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: transparent;
  color: white;
}

/* banner position section */
.tutorial-section {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(48, 48, 48, 0.856);
  position: absolute;
  left: -6rem;
  bottom: 4.5rem;
}

.circle-bullet {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgb(230, 83, 60);
  border-radius: 1.25rem;
}

.tutorial-number {
  font-size: 1.5rem;
  font-weight: 900;
  color: rgb(250, 250, 249);
  margin-bottom: 0.5rem;
}

.tutorial-des {
  color: rgba(239, 237, 232, 0.65);
}

.five-hundred {
  font-size: 2.5rem;
}

.work-out {
  font-size: 0.8rem;
}

.workout-section {
  width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5rem 2rem 0.8rem 1rem;
  position: absolute;
  right: -2rem;
  top: 9rem;
}

/* End of banner section */

/* Start of habits section */

.habit-container {
  max-width: 1044px;
  margin: 0 auto;
}

.habit-title-container {
  max-width: 670px;
  margin: 0 auto 4rem;
  text-align: center;
}

.habit-title-container h2 {
  font-size: 3rem;
  font-weight: 900;
}

.habit-title-container p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 4rem;
  margin-top: 14px;
  font-weight: 400;
}

.habit-image-container {
  display: flex;
  justify-content: space-between;
}

.habit-img-card {
  max-width: 230px;
  text-align: center;
}

.habit-image {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  margin-bottom: 1.8rem;
}

.habit-img-card h2 {
  font-size: 1.13rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.habit-img-card p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}


/* extra run mile */
.extra-mile-run {
  display: flex;
  justify-content: space-between;
  max-width: 1060px;
  margin: 100px auto;
  border-radius: 18px;
  background: rgb(34, 34, 34);
}

.extra-mile-text-content {
  max-width: 42%;
  padding: 2.5rem 3.12rem;
}

.extra-mile-img-container {
  max-width: 35%;
  padding: 1.8rem;
}

.extra-mile-img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.extra-mile-title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}

.extra-mile-des {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.5);
}

/* Traing and exercise section */
.training-exercise-container {
  max-width: 1066px;
  margin: 0 auto;
}

.training-exercie-title-container {
  max-width: 620px;
  margin-bottom: 3.5rem;
}

.training-exercie-title-container h2 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}

.training-exercie-title-container p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.training-img-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(2,200px);
  grid-template-areas: 
  "one one one two two two two two two three three three"
  "four four four four four five five five six six six six";
 
}

.img-grid-1 {
  grid-area: one;
  background-image:linear-gradient(120deg,rgba(6, 255, 210, 0.25),
  rgba(6, 255, 210, 0.25)),
  url('../images/exercise1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-grid-2 {
  grid-area: two;
  background-image:linear-gradient(120deg,rgba(255, 0, 0, 0.3),
  rgba(255, 0, 0, 0.3)), url('../images/exercise2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
}

.img-grid-3 {
  grid-area: three;
  background-image:linear-gradient(120deg,rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5))
   ,url('../images/exercise3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-grid-4 {
  grid-area: four;
  background-image:linear-gradient(120deg,rgba(0, 0, 0, 0.5)
  ,rgba(0, 0, 0, 0.5))
   ,url('../images/exercise4.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-grid-5 {
  background-image:linear-gradient(120deg,rgba(66, 255, 0, 0.3)
  ,rgba(66, 255, 0, 0.3)) ,url('../images/exercise5.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: five;
}

.img-grid-6 {
  background-image:linear-gradient(120deg,rgba(0, 71, 255, 0.3),
  rgba(0, 71, 255, 0.3)) ,url('../images/exercise6.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  grid-area: six;
}



/* Bmi calculator */


.bmi-calculator-container {
  max-width: 1440px;
  margin: 0 auto;
}

.bmi-title-container {
  margin: 0 auto;
  max-width: 670px;
  padding-top: 2rem;
}

.bmi-title-container h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
}

.bmi-title-container p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.calculator-container {
  max-width: 1066px;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
}

.bmi-partONe {
  width: 47%;
}

.bmi-partTwo {
  width: 47%;
}

.bmi-headings {
  font-size: 1.75rem;
  font-weight: 900;
}

.bmi-descript {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.bmi-partONe table {
  margin-top: 3rem;
}

.bmi-partONe table,
tr,
th,
td {
  border: 1px solid gray;
  border-collapse: collapse;
}

.bmi-partONe td {
  padding: 10px;
  color: rgb(194, 189, 189);
}

.bmi-partONe th {
  padding: 10px;
}


input[type=text] ,.select-input{
  padding: 12px 0px 12px 20px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.input-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 12px;
  margin-bottom: 2rem;
}

#input-activity {
  grid-column: span 2;
}

/* bmi calculator */



/* trainer team container */
.teammate-container {
  max-width: 1066px;
  margin: 0 auto 7.5rem;
}

.teammate-title-box {
  max-width: 670px;
  margin: 0 auto;
}

.team-grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  row-gap: 1.25rem;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  padding: 1.25rem;
}

.teammate {
  max-width: 325px;
  max-height: 270px;
  position: relative;
}

.trainer {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;

}

.teammte-description {
  position: relative;
  bottom: 5rem;
  left: 2rem;
}

.img-gradient {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.200);
}







/* customer reviews */
.customer-review{
  width: 100%;
  background: #212121;
  margin-bottom: 4rem;
}
.review-title{
  text-align: center;
  font-size: 5rem;
  font-weight: bolder;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.review-container{
  width: 1066px;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.review-part-one{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.review-part-two{
  display: flex;
  justify-content: space-between;
}
.review-text-container{
  width: 30%;
  padding: 10px;
  border-radius: 1rem;
  text-align: center;
  background-color: #EDEDED;
  color:gray;
  text-align: center;
}
.review-text-container h2{
  font-size: 2rem;
  margin-bottom: 10px;
}
.review-text-container p{
  font-size: 1rem;
  margin-bottom: 14px;
  margin-top: 14px;
  color: black;
}









/* footer Container */
footer {
  max-width: 1440px;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-container {
  max-width: 1066px;
  padding-top: 4rem;
  margin: 0 auto;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 5.5rem;
  display: flex;
  justify-content: space-between;
}

.footer-container-one {
  max-width: 440px;
}

.footer-title {
  font-size: 4.4rem;
  font-weight: 800;
  margin-bottom: 1.25rem;
  color: rgb(230, 83, 60);
}

.footer-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.footer-link-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.footer-link-container {
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}

.footer-link-container li {
  margin-bottom: 1.25rem;
}

.footer-last-para {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 2rem;
  color: rgba(255, 255, 255, 0.5);
}